cramjam==2.11.0
fastparquet==2024.11.0
fsspec==2025.9.0
geographiclib==2.1
geopy==2.4.1
googleapis-common-protos==1.70.0
grpcio==1.75.0
grpcio-status==1.75.0
narwhals==2.5.0
numpy==2.2.6
packaging==25.0
pandas==2.3.2
plotly==6.3.0
protobuf==6.32.1
py4j==0.10.9.9
pyarrow==21.0.0
pyspark==4.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.2
